/*Components*/

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #372E46;
}

* {
    box-sizing: border-box;
}

section {
    padding-top: 200px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}


/*Typography*/
h1, h2, h3, h4 {
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 55px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: .3s ease;
}




/* --HEADER SECTION -- */

.header-section {
    padding: 45px 0;

    background: #FF6200;
}
.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 188px;
    height: 32px;
    margin-right: 95px;

    background: url("../img/logo.png") no-repeat center;
}
.menu-list {
    display: flex;
    gap: 60px;
}
a:hover{
    color: #e1e1e4;
    transition: .3s ease;
}


/* --OFFER SECTION-- */

.offer-section {
    padding-top: 60px;
}
.offer-wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.offer-text{
    margin: 32px 0 43px 0;

    letter-spacing: 0em;
}
.offer {
    width: 490px;
    widows: 445px;

    font-size: 20px;
}
.offer-text > span {
    font-weight: 600;
}
.offer-btn {
    padding: 20px 40px;

    font-size: 20px;

    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 31.3px 0px rgba(182, 190, 202, 0.25);
    border-radius: 20px;
    border: 1px solid #FF6200;
    cursor: pointer;

    transition: background-color 0.6s, box-shadow 0.6s;
}
.offer-btn:hover {
    color: #fff;
    background-color: #FF6200;
    box-shadow: 0px 0px 31.3px 0px rgba(255, 98, 0, 0.40);
}




/* --TEXT SECTION-- */

.block-wrapper {
    display: flex;
    justify-content: space-between;
}
.left-block {
    width: 495px;
}
.right-block {
    width: 535px;
}
.section-title {
    text-align: center;
}
.title-wrapper {
    position: relative;
    margin-bottom: 76px;
}
.line {
    position: absolute;
    top: 45px;
    left: 50%;
}
.block-title > span {
    color: #FF6200;
}
.block-title {
    margin-bottom: 17px;
}




/* --LIST SECTION-- */

.left-line {
    left: 48%;
}
.list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    display: flex;
    flex-direction: column;
    width: 337px;
    gap: 34px;
}
.list-title {
    margin-bottom: 7px;
}
.number {
    color: #FF6200;
}
.list-item {
    display: flex;
    gap: 15px;
}
.list-title-wrapper {
    display: flex;
    flex-direction: column;
}
.image-block {
    display: flex;
    flex-wrap: wrap;
    width: 451px;
    gap: 40px 114px;
}




/* --FOOTER-- */

.footer-section {
    margin-top: 200px;
    padding: 29px 0;

    font-size: 12px;

    background: #372E46;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 7px;

    text-align: right;
}
.footer-menu-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px 20px;
}